{% extends "main.html" %}

{% block content %}
<h1>Events:</h1>
<form class="form-inline" action="/events" method="post">
    <label for="name">Event Name:</label>
    <input type="text" name="name" id="name">
    <label for="date">Event Date:</label>
    <input type="date" id="date" name="date">
    <label for="location">Event Location:</label>
    <input type="text" name="location" id="location">
    <label for="guests">Number of Guests:</label>
    <input type="number" name="guests" id="guests">
    <label for="description">Event description:</label>
    <textarea name="description" id="description" cols="30" rows="3"></textarea>
    <label for="recurring">Recurring?</label>
    <input type="checkbox" name="recurring" id="recurring">
    <input type="submit" value="Add Event">
</form>
<h1>All Events</h1>
<div class="event-container">
{%for event in events%}
    <div class="event">
        <h2>{{event.name}} <h2> 
        <h3>{{event.date}}</h3>
        <h4>{{event.location}} </h4>
        <h5>{{event.guests}}</h5>
        <h5>{{event.description}}</h5>
        
        {% if event.recurring%}
            <h5>Recurring</h5>
            {% endif %}

        <form class="form-inline" action="/events/delete/{{ event.name }}" method="POST">
            <input type="submit" value="Delete">
            </form>
    </div>
{% endfor %}
</div>
{%endblock%}